
<section>
    <footer class="footer text-center py-2 theme-bg-dark">
		   
        <small class="copyright">Designed by <a href="/about" target="_blank">Ayush Gupta</a> for the community</small>
       
    </footer>
</section>