<%- include("partials/headermain"); -%>
    
    <div class="main-wrapper">
	    	    
	    <article class="about-section py-5">
		    <div class="container">
			    <h2 class="title mb-3">About Me</h2>
			    
			    <p>hey! I'm Ayush, I have designed This website so that people can share their experiences and stories anonymously for other people to learn from them.My specific interest is in coding and problem solving and I am currently looking forward to get good education to enhance the same . Aside from technical stuff I also have a keen interest in gaining knowledge about Entrepreneurship and startups . </p>
			    <figure><img class="img-fluid" src="https://files.wallpaperpass.com/2019/10/coding%20wallpaper%20071%20-%201929x1089-768x434.jpg" alt="image"></figure>
			    <h5 class="mt-5">About The Blog</h5>
			    <p>When people are learning from each other and have a platform to share their knowledge, that builds a sense of community .
					 Learning platforms and knowledge bases not only bring shared knowledge into one place but also enable people to discuss and learn from it. Think of it as your collective brain, which is always growing and learning new things.
					 I have designed This platform so that such people can share their experiences and stories anonymously for other people to learn from them. So what are you waithing for share your story <a href="/contactuser" >here.</a></p>
			    <p></p>
				<h5 class="mt-5">My Skills</h5>
			    <p>Apart from Basic Front-end development I'm currently working to improve my skills in backend by working with MERN Stack.Not a Professional but I still have a good hold on basic knowledge of JAVA and C. Since I'm a Data science student I'm also trying to improve my skills in python.</p>
			    
			    
		    </div>
	    </article>
	    

	    
		<%- include("partials/footermain"); -%>
    
    </div><!--//main-wrapper-->
    
       
    <!-- Javascript -->          
    <script src="/plugins/popper.min.js"></script> 
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script> 
    

</body>
</html> 

